@model List<Store>

<div class="text-center">
    <h1>Welcome</h1>
    <form>
        <table>
            <thread>
                <tr>
                    <th> Id</th>
                    <th> Shortname</th>
                    <th> FullName</th>
                    <th> IdPerson</th>
                </tr>
            </thread>
            <tbody>
                
                    @foreach (var store in Model)
                    {
                        <tr>
                            <th>@store.Id</th>
                            <th>@store.Shortname</th>
                            <th>@store.Fullname</th>
                            <th>@store.IdPerson</th>
                        </tr>
                    }
               
            </tbody>
        </table>
    </form>
</div>
